<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.allan_musembya.prayer.prayernetwork">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.allan_musembya.prayer.prayernetwork.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.Profile"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.PrayerRequest"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.DailyDevotion"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.Testfy"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.LivePrograms"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.GiveOnline"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.SalvationPrayer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.BooksLibray"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.CommentActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.SubmitTestimony"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.Message"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.ChangePicture"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.ResultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.TestimonyComment"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="org.allan_musembya.prayer.prayernetwork.Purchase"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>